/* Début du CSS */

/* Base sans marges ni padding  pour tout dans la page */
*   {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    overflow-x: hidden;
}
body /* mise en place de la police et de la couleur du fond de page*/
{
    text-align: center;
    height: 100%;
    width: 100%;
    color: #2E3440;
    font-family: Calibri, sans-serif;
    background: linear-gradient(-45deg, #ECEFF4, #88C0D0, #81A1C1, #5E81AC, #BF616A, #D08770, #EBCB8B, #E5E9F0, #ECEFF4);
    background-size: 300% 300%;
    animation: gradient 15s steps(1000, end) forwards infinite;
    /* background-image: url("l-backg.png");
    background-repeat: no-repeat; */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.darkmode {
    /* background-image: url("d-backg.png"); */
    color: #ECEFF4;
}





/* Couleur du fond */
html {
    
    height: 100%;
    scroll-behavior: smooth;
}

/* STYLISATION NAAVBAR */

.header {
    transition: 0.4s all;
    max-height: 56px;
    overflow: hidden;
    background: rgba(236, 239, 244, 0.85);
    backdrop-filter: blur(5px);
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 90;
}

.darkmode .header{
    transition: 0.4s all;
    background: rgba(41, 47, 58, 0.85);
    backdrop-filter: blur(5px);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

button#actu-toggle{
    transition: 0.4s all;
    font-family: 'Asap', sans-serif;
    color: #2E3440;
    font-size: 100%;
}
.darkmode button#actu-toggle{
    transition: 0.4s all;
    color: #ECEFF4;
}
button.popup-btn{
    padding: 3px;
    background:red; 
    border: none;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.4s all;
}

button.discord{
    transition: 0.4s all;
    font-family: 'Asap', sans-serif;
    color: #2E3440;
    font-size: 100%;
}
.darkmode button.discord{
    transition: 0.4s all;
    color: #ECEFF4;
}

li {
    float: left;
}
li a {
    transition: 0.4s all;
    color: #2E3440;
    display: inline-block;
    padding: 14px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
}
.darkmode li a{
    transition: 0.4s all;
    color: #ECEFF4;
}
li a:hover{
    background-color: #ffffff;
    transition: 0.4s all;
}
.darkmode li a:hover{
    background-color: #2c2f36;
}
li.ld-mode, li.propos, li.herr, li.admin{
    float: right;
}
li.accueil{
    padding-left: 10%;
}

li.propos{
    padding-right: 10%;
}


a img.icon{
    transition: 0.4s all;
    margin: 0;
    margin-right: 5px;
    padding: 0;
    float: left;
    height: 18px;
    width: 18px;
    filter: invert(0);
}

.darkmode a img.icon{
    transition: 0.4s all;
    filter: invert(1);
}
/* enlèvement de la margin de l'icone light/dark car inadapté */

.ld-mode a{
    height: 18px;
}




#conteneur
{
    box-shadow: -2px -2px 8px white;
    font-family: 'Asap', sans-serif;
}

.darkmode .header #conteneur{
    box-shadow: none;
}



/* FIN STYLISATION NAVBAR */


#content{
    transition: 0.4s all;
    text-align: center;
    width: 90%;
    max-width: 90%;
    font-family: 'Fredoka', sans-serif;
    color: #434C5E;
    display: inline-block;
    margin-top: 6%;
    
    vertical-align: middle;

}
.darkmode #content{
    transition: 0.4s all;
    color: #ECEFF4;
}
.Ttx{
    text-align: center;
}

.Ttx h2{
    margin: 0 auto;
    width: fit-content;
    font-family: 'Anybody', cursive;
    font-family: 'Rubik', sans-serif;
    padding: 15px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    transition: 0.4s all;
}
.darkmode .Ttx h2{
    transition: 0.4s all;
    background: rgba(67, 76, 94, 0.7);
    backdrop-filter: blur(5px);
    color: #ECEFF4;
}

.Ttx h3{
    margin: 0 auto;
    width: fit-content;
    font-family: 'Anybody', cursive;
    font-family: 'Rubik', sans-serif;
    padding: 15px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    transition: 0.4s all;
}
.darkmode .Ttx h3{
    transition: 0.4s all;
    background: rgba(67, 76, 94, 0.7);
    backdrop-filter: blur(5px);
    color: #ECEFF4;
}


/* 

.c{
    display: inline-block;
}


h2.container{
    margin-left: 20px;
    margin-top: 20px;
}
h2 .type{
    overflow: hidden;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 5.5s steps(125, end) forwards;
    animation-delay: 0.4s;
} */
/* temps : 5.9s */
/* 

h2 .type2{
    overflow: hidden;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 3.5s steps(75, end) forwards;
    animation-delay: 6.2s; 
} */
/* Temps : 9.7s */
/* 
h2 .img1{
    overflow: hidden;
    white-space: nowrap; 
    width: 0;
    animation:
      typing 1.5s steps(75, end) forwards;
    animation-delay: 10s; */
/* } */
/* Temps :11.5 */
/* 
.img1 img{
    border-radius: 6px;
    margin-left: 10px;
    margin-top: 10px;
    border: #88C0D0 solid 2px;
} */



/* h2 .type3{
    overflow: hidden;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 4s steps(100, end) forwards;
    animation-delay: 12s;
} */

/* Temps : 16s */

/* h2 .type4{
    overflow: hidden;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 4.5s steps(125, end) forwards;
    animation-delay: 16.3s;
} */
/* Temps: 20.8s */


/* @keyframes typing {
  from { width: 0; border-right: 0em solid #EBCB8B;}
  5% { border-right: .15em solid #EBCB8B;}
  95%  { border-right: .15em solid #EBCB8B; }
  to { width: 100%; border-right: 0em solid #EBCB8B;}
}
@keyframes blink {
  from { border-color: transparent }
  to { border-color: #EBCB8B; }
} */


/* footer{
    background-color: #E5E9F0;
    height: auto;
    width: 100%;
    text-align: center;
    margin-top: 10%;
    padding: 20px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
}

.darkmode footer{
    background-color: #3B4252;
}

#footer div p a{
    text-decoration: none; 
    color: #2E3440;
}
.darkmode #footer div p a{
    color: #ECEFF4;
} */

#popup{
    border-radius: 8px;
    filter: none;
    overflow-y: scroll;
    transition: 0.4s all;
    padding: 10px;
    background: rgba(236, 239, 244, 0.95);
    backdrop-filter: blur(5px);
    display: none;
    transition: 0.4s all;
    text-align: center;
    position: fixed;
    z-index:98;
    top: 70px;
    max-height: 80%;
    left: 0;
    right: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.darkmode #popup{
    background: rgba(41, 47, 58, 0.9);
    backdrop-filter: blur(8px);
}


#popup::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
    
#popup::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
}
    
#popup::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;  
}
    
#popup::-webkit-scrollbar-thumb:hover {
    background: #999;  
}

h2.actu-title{
    margin-bottom: 10px;
    width: 100%;
}

button.popup-btn{
    background: none;
    display: flex;
    float: right;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 4px;
    width: 22px;
}

button.popup-btn img:hover {
    animation: rotate 0.4s forwards;
}
button.popup-btn img:not(:hover) {
    animation: unrotate 0.4s forwards;
}

@keyframes rotate{
    from {transform: none;}
    to {transform: rotate(180deg);}
}
@keyframes unrotate{
    from {transform: none;}
    to {transform: rotate(-180deg);}
}

button.popup-btn img{
    filter: invert(0);
    width: 22px;
    transition: 0.4s all;
}

.darkmode button.popup-btn img{
    transition: 0.4s all;
    filter: invert(1);
}

button.send{
    transition: 0.4s all;
    margin: 15px;
    width: 70px;
    height: 35px;
    border: 0;
    outline: none;
    background: #3B4252;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    cursor: pointer;
}
button.send:hover{
    background: #5E81AC;
    transition: 0.4s all;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.8);
}
textarea{
    border-radius: 5px;
    width: 260px;
    height: 80px;
}


button.discordo{
    transition: 0.4s all;
    padding: 8px;
    margin: 15px;
    border: 0;
    outline: none;
    background: #3B4252 !important;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    cursor: pointer;
}
button.discordo:hover{
    background: #5E81AC;
    transition: 0.4s all;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.8);
}

button#btn-image{
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    font-family: Calibri, sans-serif;
    color: #434C5E;
    transition: 0.4s all;
}
button#btn-image:hover{
    color: #828694;
    text-decoration: underline;
}
.darkmode button#btn-image{
    color: #ECEFF4;
    transition: 0.4s all;
}
.darkmode button#btn-image:hover{
    color: #eceff4b6;
    text-decoration: underline;
}



div#image{
    box-shadow: 0 0 0 0px rgba(0,0,0,0.4);
    border-radius: 8px;
    filter: none;
    overflow-y: scroll;
    transition: 0.4s all;
    padding: 10px;
    background: rgba(236, 239, 244, 0.95);
    backdrop-filter: blur(5px);
    display: none;
    transition: 0.4s all;
    text-align: center;
    position: fixed;
    z-index:98;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 70%;
    max-height: 88%;
    margin: auto;
}
div#div-image{
    padding: 15px;
}

.darkmode div#image{
    background: rgba(41, 47, 58, 0.9);
    backdrop-filter: blur(8px);
}
img.image-image{
    margin: auto;
    max-width: 90%;
        max-height: 100%;
        display: block;
}

#image::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
    
#image::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
}
    
#image::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;  
}
    
#image::-webkit-scrollbar-thumb:hover {
    background: #999;  
}